<div class="modal-header">
  <div class="modal-title">
    {{ (mode == 'edit' ? 'access-accounts.edit-account' : 'access-accounts.new-account') | translate }}</div>
</div>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label>
      <h4>{{ 'access-accounts.username' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'validation.username.required' | translate">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" [placeholder]="'access-accounts.username' | translate" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="mode == 'new'">
    <nz-form-label>
      <h4>{{ 'access-accounts.password' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'validation.password.required' | translate">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock" nz-popover nzPopoverPlacement="right"
        nzPopoverTrigger="focus" [(nzPopoverVisible)]="visible" nzPopoverOverlayClassName="register-password-cdk"
        [nzPopoverOverlayStyle]="{ 'width.px': 240 }" [nzPopoverContent]="pwdCdkTpl">
        <input nz-input type="password" formControlName="password"
          [placeholder]="'access-accounts.password' | translate" />
      </nz-input-group>
      <ng-template #pwdCdkTpl>
        <div style="padding: 4px 0">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | translate }}</div>
            <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | translate }}</div>
            <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | translate }}</div>
          </ng-container>
          <div class="progress-{{ status }}">
            <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
              [nzShowInfo]="false"></nz-progress>
          </div>
          <p class="mt-sm">{{ 'validation.password.strength.msg' | translate }}</p>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="mode == 'new'">
    <nz-form-label>
      <h4>{{ 'access-accounts.confirm-password' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
        <input nz-input type="password" formControlName="confirm"
          [placeholder]="'access-accounts.confirm-password' | translate" />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.equar">{{ 'validation.password.twice' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!-- Tenant -->
  <nz-form-item>
    <nz-form-label>
      <h4>{{ 'access-accounts.tenant' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'validation.required' | translate">
      <nz-input-group nzSize="large">
        <nz-select [nzPlaceHolder]="'access-accounts.tenant' | translate" nzSize="large" formControlName="tenantId">
          <nz-option *ngFor="let tenant of tenants" [nzLabel]="tenant.name" [nzValue]="tenant.id"> </nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- Tenant -->
  <!-- Permissions -->
  <nz-form-item>
    <nz-form-label>
      <h4>{{ 'access-accounts.permissions' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'validation.required' | translate">
      <nz-input-group nzSize="large">
        <nz-select nzMode="multiple" [nzPlaceHolder]="'access-accounts.permissions' | translate"
          formControlName="permissions" nzSize="large">
          <nz-option *ngFor="let permission of supportedPermissions" [nzLabel]="permission" [nzValue]="permission">
          </nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>
      <h4>{{ 'access-accounts.valid-to' | translate }}</h4>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'validation.required' | translate">
      <nz-input-group nzSize="large">
        <nz-date-picker formControlName="validTo" nzSize="large" [nzDisabledDate]="disabledDate"></nz-date-picker>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">{{ 'common.close' | translate }}</button>
  <button nz-button type="submit" nzType="primary" (click)="submit()" [nzLoading]="http.loading"
    [disabled]="form.invalid">
    {{ (mode == 'edit' ? 'common.edit' : 'common.create') | translate }}
  </button>
</div>